* {
  margin: 0;
  padding: 0; }

body {
  font-family: 'DM Serif Display', serif;
  font-size: 20px; }

.fa-right-long {
  color: #CDA274;
  font-size: 15px; }

.nav {
  width: 7354px !important; }

.menu ul {
  display: flex; }

.interno {
  color: #292f36;
  font-size: 40px;
  text-decoration: none;
  margin-left: 10px; }

.getstarted {
  background-color: #292f36;
  color: white;
  border-radius: 13px;
  width: 138px;
  padding: 5px 11px; }

.menu ul li {
  margin-left: 10px; }

.menu ul li a {
  text-decoration: none;
  color: #292f36; }

.container .logo img {
  margin-top: 10px;
  width: 34px;
  height: 34px; }

.background-photo {
  background-image: url("img/Photo (1).jpg");
  background-repeat: no-repeat;
  max-width: 100%;
  height: 356px;
  display: flex;
  justify-content: center;
  align-items: flex-end; }

.home-head-text {
  width: 504px;
  height: 179px;
  background: white;
  text-align: center;
  border-radius: 38px 38px 0 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center; }
  .home-head-text h1 {
    font-weight: 900; }

#color .col-12 {
  display: flex;
  justify-content: center; }
  #color .col-12 .boxes {
    display: flex;
    justify-content: space-evenly; }
    #color .col-12 .boxes .box1 {
      width: 100px;
      height: 100px;
      border-radius: 11px;
      background-color: #CDA274; }
    #color .col-12 .boxes .box2 {
      width: 100px;
      height: 100px;
      border-radius: 11px;
      background-color: #292f36; }
    #color .col-12 .boxes .box3 {
      width: 100px;
      height: 100px;
      border-radius: 11px;
      background-color: #F4F0EC; }

.color {
  width: 80%;
  border-radius: 38px;
  height: 303px;
  background-color: #F6F6F6;
  margin-top: 70px;
  display: flex;
  justify-content: center;
  align-items: center; }
  .color .primaries {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center; }
    .color .primaries h1 {
      font-weight: 900; }
    .color .primaries p {
      width: 61%; }

.homeSlide {
  background-image: url("./img/Photo.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0 0 0 115px;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  padding-left: 170px; }
  .homeSlide .slidephoto {
    max-width: 100%;
    height: 634autopx;
    border-radius: 0 0 0 75px; }
  .homeSlide .slideH2 {
    font-weight: 600; }
  .homeSlide .slideP {
    font-family: Jost;
    width: 28%;
    left: 10%;
    font-family: Jost;
    font-size: 16px;
    font-weight: 400; }

.ContactLeftSide {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly; }

.contact .call {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  align-content: start;
  margin-left: 60px; }
.contact .contactPhoto {
  max-width: 100%;
  border-radius: 0 100px; }
.contact .getstarted {
  width: 171px;
  height: 50px;
  margin-top: 20px; }

.callnumber {
  position: relative; }

.callnumber:before {
  content: '\f095';
  left: -58px;
  color: #CDA274;
  font-family: sans-serif;
  font-family: "Font Awesome 5 Free";
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  position: absolute;
  padding: 10px;
  background-color: #F4F0EC;
  line-height: 36px;
  text-align: center;
  border-radius: 98%; }

.aboutCards {
  background-color: #f4f0ec;
  border-radius: 16px;
  margin-top: 80px;
  text-align: center; }
  .aboutCards h2 {
    margin: 40px 0; }
  .aboutCards .card-total {
    background-color: white;
    border-radius: 4%;
    padding: 33px 30px 20px 3px;
    margin-bottom: 50px; }
    .aboutCards .card-total .card-header {
      display: flex;
      justify-content: space-evenly; }
      .aboutCards .card-total .card-header img {
        border-radius: 50%; }
    .aboutCards .card-total .road {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column; }

.bannerImg {
  display: flex;
  justify-content: space-around;
  align-items: center; }

#proJects .col-lg-12 h1 {
  text-align: center;
  font-weight: bold; }
#proJects .col-lg-12 p {
  margin: 0 auto;
  width: 50%;
  text-align: center; }
#proJects .proJects img {
  margin-top: 30px;
  margin-bottom: 20px;
  max-width: 100%;
  border-radius: 0 0 85px 0; }
#proJects .proJects a {
  text-decoration: none; }
#proJects .proJects a::after {
  content: '\f054';
  color: #CDA274;
  font-family: "Font Awesome 5 Free";
  font-style: normal;
  margin-left: 50%;
  font-weight: 900;
  font-size: 32px;
  padding: 10px 14px;
  background-color: #F4F0EC;
  line-height: 36px;
  text-align: center;
  border-radius: 98%; }

#counter {
  background-color: #F4F0EC;
  margin-top: 200px;
  margin-bottom: 150px;
  padding: 50px 0; }

.counter {
  display: flex;
  justify-content: space-evenly; }
  .counter .count-gr span {
    color: #CDA274;
    font-size: 85px;
    font-family: DM Serif Display;
    font-style: normal;
    font-weight: 400;
    line-height: 125%;
    letter-spacing: 1.7px;
    position: relative; }
    .counter .count-gr span:not(:last-child):after {
      content: ' ';
      position: absolute;
      top: 16px;
      right: -37px;
      width: 3px;
      height: 69px;
      background-color: #CDA274; }
    .counter .count-gr span:last-child:after {
      visibility: hidden; }

@media only screen and (max-width: 800px) {
  .counter {
    display: flex;
    flex-direction: column;
    align-items: center; }

  .counter .count-gr span:not(:last-child):after {
    content: ' ';
    position: absolute;
    top: 0;
    right: 8px;
    width: 90%;
    height: 3px;
    background-color: #CDA274; } }
#article .article-title {
  text-align: center; }
  #article .article-title h1 {
    font-weight: bold; }
  #article .article-title p {
    margin: 0 auto;
    width: 70%; }
#article .article-card {
  display: flex;
  flex-direction: column;
  padding: 18px 18px 38px;
  border-radius: 18%;
  border: 1px solid gray; }
  #article .article-card img {
    border-radius: 60px 60px 0 0; }
  #article .article-card h4 {
    font-weight: bold;
    width: 90%;
    margin: 20px 0; }
  #article .article-card span:after {
    content: '\f054';
    color: #292F36;
    font-family: "Font Awesome 5 Free";
    font-style: normal;
    margin-left: 100px;
    font-weight: 900;
    font-size: 32px;
    padding: 10px 14px;
    background-color: #F4F0EC;
    line-height: 36px;
    text-align: center;
    border-radius: 98%; }

#contact .contact-box {
  background: #292F36;
  border-radius: 29px;
  text-align: center;
  padding: 50px 25px; }
  #contact .contact-box p {
    color: white; }
  #contact .contact-box h2 {
    color: white;
    font-weight: bold; }
  #contact .contact-box .contact-button {
    background: #CDA274;
    color: white;
    padding: 7px 11px;
    border-radius: 16px; }

/*# sourceMappingURL=style.css.map */
